<hr>
<div class="ppal">
<div class="a">
    <div><h1>GoEats</h1>
    <div><img src="/assets/16.png" alt=""><img src="/assets/17.png" alt=""></div>
</div> </div>
<div class="nav">
    <nav>
        <ul>
            <li><a href="">Obtén ayuda</a></li>
            <li><a href="">Compra tarjetas de regalo</a></li>
            <li><a href="">Agrega tu restaurante</a></li>
            <li><a href="">Registrate para realizar entregas</a></li>
            <li><a href="">Crear una cuenta de negocios</a></li>
            <li><a href="">Promociones</a></li>
        </ul>
    </nav>
</div>
<div class="b">
</div>
</div>
